<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="customerImageData"
                type="Perspective\CustomerAvatar\Plugin\Admin\Form\DataProvider"/>
    </type>
    <type name="Magento\Customer\Model\Metadata\CachedMetadata">
        <plugin name="imageNameIssue"
                type="Perspective\CustomerAvatar\Plugin\Admin\ImageName"/>
    </type>
</config>